@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("fonts/Montserrat-Bold.woff") format("woff");
}

.middle{
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

body {
  min-width: 430px;
  border: 2px dashed #c7e4ff;
}

html::before,
body::before,
header::before,
footer::before,
main::before {
  color: #7fc1ff;
}

main,
header,
footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}

nav,
section,
article,
aside {
  background-color: #f9f7ff;
  border: 2px solid #9779ec;
}

nav::before,
section::before,
article::before,
aside::before {
  color: #9779ec;
}

blockquote {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #b997ee;
}

blockquote::before {
  content: "blockquote";
  color: #b997ee;
}

h1 {
  font-size: 18px;
  background-color: #ffffff;
  border: 2px solid #ff994f;

}

h2 {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #fff59a;
}

h2::before {
  content: "h2";
  color: #fff59a;
}

h3 {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #ffa2b2;
}

h3::before {
  content: "h3";
  color: #ffa2b2;
}

h1::before {
  content: "h1";
  color: #ff994f;
}

p {
  background-color: #ffffff;
  border: 2px solid #f36dff;
}

p::before {
  color: #f36dff;
  content: "p";
}

a {
  background-color: #ffffff;
  border: 2px solid #fac0ff;
}

a::before {
  color: #fac0ff;
  content: "a";
}

* {
  position: relative;
  padding: 20px 10px 10px;
  margin: 0;
  border-radius: 4px;
}

*:not(:last-child) {
  margin-bottom: 20px;
}

*::before {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 700;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.04em;
}

html::before {
  content: "html";
}

body::before {
  content: "body";
}

main::before {
  content: "main";
}

header::before {
  content: "header";
}

footer::before {
  content: "footer";
}

section::before {
  content: "section";
}

article::before {
  content: "article";
}

aside::before {
  content: "aside";
}

nav::before {
  content: "nav";
}

.contact {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #c3dbff;
}

.contact::before {
  content: "contact";
  color: #c3dbff;
}

.contacts {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #c3dbff;
}

.contacts::before {
  content: "contacts";
  color: #c3dbff;
}

.contact_type {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #c3dbff;
}

.contact_type::before {
  content: "contact_type";
  color: #c3dbff;
}

.contact_value {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #c3dbff;
}

.contact_value::before {
  content: "contact_value";
  color: #c3dbff;
}

li {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #d5c3ff;
}

li::before {
  content: "li";
  color: #d5c3ff;
}

ul,dl,dt,dd,cite {
  font-size: 15px;
  background-color: #ffffff;
  border: 2px solid #d5c3ff;
}

ul::before {
  content: "ul";
  color: #d5c3ff;
}

dl::before {
  content: "dl";
  color: #d5c3ff;
}

dt::before {
  content: "dt";
  color: #d5c3ff;
}

dd::before {
  content: "dd";
  color: #d5c3ff;
}

cite::before {
  content: "cite";
  color: #d5c3ff;
}