@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');

html {
    font-weight: normal;
    font-family: 'Balsamiq Sans', cursive;
}

* {
    color: #333333;
}

h1 {
    color: #2f80ed;
    margin-bottom: 0.25em;
}

h2 {
    color: #333333;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 1em;
}

h3 {
    color: #2f80ed;
}

a {
    color: #2f80ed;
}

.contact {
    display: flex;
}

.contact_type {
    min-width: 90px;
}

.contacts {
    margin-bottom: 2em;
}

.education {
    display: flex;
    margin-bottom: 2em;
}

.education_name {
    font-weight: bold;
}

.education_date {
    min-width: 180px;
}

.education_city {
    margin-bottom: 1em
}

body {
    background-color: rgb(240, 240, 252);
  }